@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
}

/* Utility CSS Classes  */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-start{
    align-items: start;
}
